<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikhaellophes.circularimageview">
    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true" />

</manifest>
